{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>RaptureTech Pvt Ltd.</title>
    <meta name="description" content="Welcome to RaptureTech. We make DPU, UDS, and SCC.">
    <meta name="author" content="Paras Dave">

    <!-- Favicons -->
    <link href="{% static 'home/assets/img/rapturetech_logo.jpeg'%}" rel="icon">
    <link href="{% static 'home/assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'home/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'home/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
    <link href="{% static 'home/assets/vendor/aos/aos.css'%}" rel="stylesheet">
    <link href="{% static 'home/assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
    <link href="{% static 'home/assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="{% static 'home/assets/css/main.css'%}" rel="stylesheet">

</head>

<body class="index-page" oncontextmenu="return false;">
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">
            <a href="{%url 'home'%}" class="logo d-flex align-items-center me-auto">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <img src="{% static 'home/assets/img/logo1.png'%}" alt="RaptureTech Pvt. Ltd.">
            </a>
            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="{%url 'home'%}" class="active">Home<br></a></li>
                    <li><a href="{%url 'home'%}">About</a></li>
                    <li><a href="{%url 'home'%}">Why Us</a></li>
                    <li><a href="{%url 'home'%}">Products</a></li>
                    <li><a href="{%url 'home'%}">Contact</a></li>
                    <li><a href="{%url 'login'%}">Login</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
            </a>
            <a href="{%url 'login'%}">
                <img src="{%static 'home/assets/img/cloud-data (1).png'%}" class="CLOUD_DATA_LOGIN mx-3"
                    href="{%url 'login'%}" alt="" width="80" height="80" loading="lazy">
            </a>
        </div>
    </header>
    <main class="main">
        <!-- Hero Section -->
        <section id="hero" class="hero section">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-6 order-1 order-lg-1 d-flex flex-column justify-content-center">
                        <h1 data-aos="fade-up">Welcome to RaptureTech</h1>
                        <h3 id="changing-text" data-aos="fade-up" data-aos-delay="100">We make <strong
                                class="auto_change">All In
                                One</strong></h3>
                        <div class="d-flex flex-column flex-md-row" data-aos="fade-up" data-aos-delay="200">
                        </div>
                    </div>
                    <div class="col-lg-6 order-2 order-lg-2 hero-img" data-aos="zoom-out">
                        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">

                                    <img src="{% static 'home/assets/img/header/all_in_one_1.png'%}"
                                        class="d-block  img-fluid animated" alt="All In One">
                                    <div class="carousel-caption d-none d-md-block">
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'home/assets/img/header/ss_str_2.png'%}"
                                        class="d-block  img-fluid animated" alt="Sterrer">
                                    <div class="carousel-caption d-none d-md-block">
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'home/assets/img/header/product_dpu_2.png'%}"
                                        class="d-block  img-fluid animated" alt="SCC">
                                    <div class="carousel-caption d-none d-md-block">
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'home/assets/img/header/mini_combo_1.png'%}"
                                        class="d-block  img-fluid animated" alt="minicombo">
                                    <div class="carousel-caption d-none d-md-block">
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'home/assets/img/header/analyzer_1.png'%}"
                                        class="d-block  img-fluid animated" alt="analyzer">
                                    <div class="carousel-caption d-none d-md-block">
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'home/assets/img/header/ss_str_2.png'%}"
                                        class="d-block  img-fluid animated" alt="ss_str_2">
                                    <div class="carousel-caption d-none d-md-block">
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'home/assets/img/header/SOLAR_CHARGE_CONTROLLER.png'%}"
                                        class="d-block  img-fluid animated" alt="ss_str_2">
                                    <div class="carousel-caption d-none d-md-block">
                                    </div>
                                </div>

                            </div>
                            <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button> -->
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /Hero Section -->
        <!-- About Section -->
        <section id="about" class="about section">
            <div class="container" data-aos="fade-up">
                <div class="row gx-0">
                    <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up"
                        data-aos-delay="200">
                        <div class="content">
                            <h3>About RaptureTech</h3>
                            <h2>RaptureTech History
                            </h2>
                            <p>
                                Have Experience of 25 years At RaptureTech, we are passionate about dairy technology. We
                                understand the
                                importance of quality, precision, and innovation in the dairy industry. That's why we're
                                dedicated to
                                providing state-of-the-art solutions for milk analysis, sterilization, and processing.
                            </p>
                            <!-- <div class="text-center text-lg-start">
                <a href="#"
                  class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Read More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div> -->
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                        <img src="{% static 'home/assets/img/rapturetech_logo.jpeg'%}" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </section><!-- /About Section -->
        <!-- Values Section -->
        <section id="whyus" class="values section">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Why Us?</h2>
                <p>Why Choose RaptureTech?<br></p>
            </div><!-- End Section Title -->
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="card">
                            <img src="{% static 'home/assets/img/innovation.png'%}" class="img-fluid" alt="Innovation">
                            <h3 class="auto_change">Innovation</h3>
                            <p>We are at the forefront of dairy technology, constantly innovating to meet the evolving
                                needs of the
                                industry.</p>
                        </div>
                    </div><!-- End Card Item -->
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="card">
                            <img src="{% static 'home/assets/img/quality.png'%}" class="img-fluid" alt="Quality">
                            <h3 class="auto_change">Quality</h3>
                            <p>Our products are built to the highest quality standards, ensuring reliability and
                                precision in every
                                use.</p>
                        </div>
                    </div><!-- End Card Item -->
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="card">
                            <img src="{% static 'home/assets/img/customer.jpg'%}" class="img-fluid"
                                alt="Customer-Centric">
                            <h3 class="auto_change">Customer-Centric</h3>
                            <p>Your success is our priority. We provide excellent customer support and resources to help
                                you make the
                                most of our products.</p>
                        </div>
                    </div><!-- End Card Item -->
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="card">
                            <img src="{% static 'home/assets/img/values-3.png'%}" class="img-fluid" alt="Experience">
                            <h3 class="auto_change">Experience</h3>
                            <p>With years of experience in the dairy industry, we bring expertise you can rely on.</p>
                        </div>
                    </div><!-- End Card Item -->
                </div>
            </div>
        </section><!-- /Values Section -->
        <!-- Products Section -->
        <section id="Products" class="portfolio section">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Products</h2>
                <p>Check our latest Products</p>
            </div><!-- End Section Title -->
            <div class="container">
                <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
                    <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">Combo</li>
                        <li data-filter=".filter-product">Stirrer</li>
                        <li data-filter=".filter-branding">Analyzer</li>
                        <li data-filter=".filter-books">DPU</li>
                        <li data-filter=".filter-scc">Solar Charger Controller</li>
                    </ul><!-- End Portfolio Filters -->
                    <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                            <div class="portfolio-content h-100">
                                <img src="{% static 'home/assets/img/products/all_in_one/all_in_one_1.png'%}"
                                    class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Combo 1</h4>
                                    <p>All in one smart combo RTPL DPMCU
                                    </p>
                                    <!-- <a href="{% static 'home/assets/img/products/all_in_one/all_in_one_1.png'%}" title="All in one smart combo RTPL DPMCU
                  " data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a> -->
                                    <a href="{% url 'website_all_in_1_smart_combo'%}" title="More Details"
                                        class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- All in one smart combo RTPL DPMCU -->
                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                            <div class="portfolio-content h-100">
                                <img src="{% static 'home/assets/img/products/uds_v2/str_1.png'%}" class="img-fluid"
                                    alt="">
                                <div class="portfolio-info">
                                    <h4>Stirrer 1</h4>
                                    <p>Ultrasonic Digital Stirrer</p>
                                    <!-- <a href="{% static 'home/assets/img/products/uds_v2/str_1.png'%}"
                                        title="Ultrasonic Digital Stirrer" data-gallery="portfolio-gallery-product"
                                        class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a> -->
                                    <a href="{% url 'website_ultrasonic_digital_stirrer_v2'%}" title="More Details"
                                        class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- Ultrasonic Digital Stirrer -->
                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                            <div class="portfolio-content h-100">
                                <img src="{% static 'home/assets/img/products/analyzer/analyzer_1.png'%}"
                                    class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Analyzer 1</h4>
                                    <p>Ultrasonic Milk Analyzer
                                    </p>
                                    <!-- <a href="{% static 'home/assets/img/products/analyzer/analyzer_1.png'%}"
                                        title="Ultrasonic Milk Analyzer" data-gallery="portfolio-gallery-branding"
                                        class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a> -->
                                    <a href="{% url 'website_ultrasonic_milk_analyzer'%}" title="More Details"
                                        class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->
                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
                            <div class="portfolio-content h-100">
                                <img src="{% static 'home/assets/img/products/dpu/product_dpu_2.png'%}"
                                    class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>DPU 1</h4>
                                    <p>Data Processor Unit (DPU) Milk Collection
                                    </p>
                                    <!-- <a href="{% static 'home/assets/img/products/dpu/product_dpu_2.png'%}"
                                        title="Data Processor Unit (DPU) Milk Collection"
                                        data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a> -->
                                    <a href="{%url 'website_dpu'%}" title="More Details" class="details-link"><i
                                            class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->
                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                            <div class="portfolio-content h-100">
                                <img src="{% static 'home/assets/img/products/Mini_Combo/mini_combo_1.png'%}"
                                    class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Combo 2
                                    </h4>
                                    <p>Two in one smart mini combo RTPL</p>
                                    <!-- <a href="{% static 'home/assets/img/products/Mini_Combo/mini_combo_1.png'%}"
                                        title="Two in one smart mini combo RTPL" data-gallery="portfolio-gallery-app"
                                        class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a> -->
                                    <a href="{% url 'website_2_in_1_smart_mini_combo'%}" title="More Details"
                                        class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- Two in one smart mini combo RTPL -->
                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                            <div class="portfolio-content h-100">
                                <img src="{% static 'home/assets/img/products/uds_ss/ss_str_2.jpeg'%}" class="img-fluid"
                                    alt="">
                                <div class="portfolio-info">
                                    <h4>Stirrer 2</h4>
                                    <p>Ultrasonic Digital Stirrer SS
                                    </p>
                                    <!-- <a href="{% static 'home/assets/img/products/uds_ss/ss_str_2.jpeg'%}"
                                        title="Ultrasonic Digital Stirrer SS" data-gallery="portfolio-gallery-product"
                                        class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a> -->
                                    <a href="{% url 'website_ultrasonic_digital_stirrer_ss'%}" title="More Details"
                                        class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->
                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                            <div class="portfolio-content h-100">
                                <img src="{% static 'home/assets/img/products/ultrasonic_digital_STIRRET/UDS2.png'%}"
                                    class="img-fluid" alt="Ultrasonic Digital Stirrer">
                                <div class="portfolio-info">
                                    <h4>Stirrer 3</h4>
                                    <p>Ultrasonic Digital Stirrer
                                    </p>
                                    <!-- <a href="{% static 'home/assets/img/products/ultrasonic_digital_STIRRET/UDS2.png'%}"
                                        title="Ultrasonic Digital Stirrer" data-gallery="portfolio-gallery-product"
                                        class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a> -->
                                    <a href="{% url 'website_ultrasonic_digital_stirrer'%}" title="More Details"
                                        class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->
                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-scc">
                            <div class="portfolio-content h-100">
                                <img src="{% static 'home/assets/img/products/SOLAR_CHARGE_CONTROLLER/SOLAR_CHARGE_CONTROLLER.png'%}"
                                    class="img-fluid" alt="SOLAR_CHARGE_CONTROLLER">
                                <div class="portfolio-info">
                                    <h4>SCC 1</h4>
                                    <p>Solar Charger Controller
                                    </p>
                                    <!-- <a href="{% static 'home/assets/img/products/SOLAR_CHARGE_CONTROLLER/SOLAR_CHARGE_CONTROLLER.png'%}"
                                        title="Solar Charger Controller
                  " data-gallery="portfolio-gallery-scc" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a> -->
                                    <a href="{% url 'website_solar_charger'%}" title="More Details"
                                        class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- End Portfolio Item -->
                    </div><!-- End Portfolio Container -->
                </div>
            </div>
        </section><!-- /Portfolio Section -->
        <!-- Contact Section -->
        <section id="contact" class="contact section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Contact</h2>
                <p>Contact Us</p>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up">

                <div class="row gy-4">

                    <div class="col-lg-6">

                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3670.432962899906!2d72.58949727607936!3d23.081241314134807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e83199597af57%3A0xb807cc6e8a489d6e!2sKothari%20Tower.!5e0!3m2!1sen!2sin!4v1698745320815!5m2!1sen!2sin"
                            width="100%" height="100%" style="border:0;border-radius: 30px;" allowfullscreen=""
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                    <div class="col-lg-6">
                        <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up"
                            data-aos-delay="200">
                            <div class="row gy-4">

                                <div class="col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="Your Name"
                                        required="">
                                </div>

                                <div class="col-md-6 ">
                                    <input type="email" class="form-control" name="email" placeholder="Your Email"
                                        required="">
                                </div>

                                <div class="col-md-12">
                                    <input type="text" class="form-control" name="subject" placeholder="Subject"
                                        required="">
                                </div>

                                <div class="col-md-12">
                                    <textarea class="form-control" name="message" rows="6" placeholder="Message"
                                        required=""></textarea>
                                </div>

                                <div class="col-md-12 text-center">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Your message has been sent. Thank you!</div>

                                    <button type="submit" class="custom-btn">Send</button>
                                </div>

                            </div>
                        </form>
                    </div><!-- End Contact Form -->

                </div>

            </div>

        </section><!-- /Contact Section -->
    </main>

    <footer id="footer" class="footer">
        <div class="container footer-top">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-8 footer-about">
                    <a href="{%url 'home'%}" class="d-flex align-items-center">
                        <img src="{%static 'home/assets/img/logo1.png'%}" class="w-50" alt="RaptureTech Pvt. Ltd.">
                    </a>
                    <div class="footer-contact pt-3">
                        <p>Keshavbaug Colony, </p>
                        <p>Sabarmati, Ahmedabad</p>
                        <p class="mt-3"><strong>Phone:</strong> <span>+91 9374672571</span></p>
                        <p><strong>Email:</strong> <span>paras@rapturetech.co.in</span></p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-2 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Products</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
                    </ul>
                </div>


                <div class="col-lg-4 col-md-12 mx-2">
                    <h4>Follow Us</h4>
                    <p>Follow Us on our Social media links</p>
                    <div class="social-links d-flex">
                        <a href=""><i class="bi bi-twitter-x"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="container copyright text-center mt-4">
            <p>© <span>Copyright</span>
                <script>document.write(new Date().getFullYear())</script>
                <strong class="px-1 sitename">RaptureTech Pvt. Ltd.</strong> <span>All Rights Reserved</span>
            </p>
            <div class="credits">
                <p class="copyright-text">Developed By: <a rel="nofollow" href="" target="_blank">CloudStack
                        Dynamics</a></p>

            </div>
        </div>

    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <!-- AOS JS (Animate On Scroll) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <!-- Custom JS -->
    <script>
        AOS.init();

        // Carousel text change logic
        const carouselItems = [
            { text: 'All In One' },
            { text: 'Sterrer' },
            { text: 'DPU' },
            { text: 'Mini Combo' },
            { text: 'Analyzer' },
            { text: 'Sterrer SS' },
            { text: 'Solar Charger Controller' },



        ];

        document.getElementById('carouselExampleAutoplaying').addEventListener('slide.bs.carousel', function (event) {
            const nextItem = carouselItems[event.to];
            document.getElementById('changing-text').innerHTML = `We make <strong class="auto_change">${nextItem.text}</strong>`;
        });
    </script>
    <script src="{% static 'home/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'home/assets/vendor/php-email-form/validate.js'%}"></script>
    <script src="{% static 'home/assets/vendor/aos/aos.js'%}"></script>
    <script src="{% static 'home/assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
    <script src="{% static 'home/assets/vendor/purecounter/purecounter_vanilla.js'%}"></script>
    <script src="{% static 'home/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js'%}"></script>
    <script src="{% static 'home/assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
    <script src="{% static 'home/assets/vendor/swiper/swiper-bundle.min.js'%}"></script>

    <!-- Main JS File -->
    <script src="{% static 'home/assets/js/main.js'%}"></script>
</body>

</html>