{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>RaptureTech Pvt Ltd. | Product | Ultrasonic Digital Stirrer</title>
  <meta name="description" content="Welcome to RaptureTech. We make DPU, UDS, and SCC.">
  <meta name="author" content="Paras Dave">
  <!-- Favicons -->
  <link href="{% static 'home/assets/img/rapturetech_logo.jpeg'%}" rel="icon">
  <link href="{% static 'home/assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'home/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'home/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'home/assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'home/assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'home/assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'home/assets/css/main.css'%}" rel="stylesheet">


</head>

<body class="portfolio-details-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
      <a href="{%url 'home'%}" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{% static 'home/assets/img/logo1.png'%}" alt="RaptureTech Pvt. Ltd.">
      </a>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{%url 'home'%}">Home<br></a></li>
          <li><a href="{%url 'home'%}">About</a></li>
          <li><a href="{%url 'home'%}">Services</a></li>
          <li><a href="{%url 'home'%}" class="active">Products</a></li>
          <li><a href="{%url 'home'%}">Contact</a></li>
          <li><a href="{%url 'login'%}">Login</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      </a>
      <a href="{%url 'login'%}">
        <img src="{% static 'home/assets/img/cloud-data (1).png'%}" class="CLOUD_DATA_LOGIN mx-3" href="{%url 'login'%}"
          alt="" width="80" height="80" loading="lazy">
      </a>
    </div>
  </header>
  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">

        <nav class="breadcrumbs">
          <div class="container">
            <ol>
              <li><a href="{%url 'home'%}">Home</a></li>
              <li class="current">Ultrasonic Digital Stirrer</li>
            </ol>
          </div>
        </nav>
      </div><!-- End Page Title -->

      <!-- Portfolio Details Section -->
      <section id="portfolio-details" class="portfolio-details section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row gy-4">

            <div class="col-lg-4">
              <div class="portfolio-details-slider swiper">

                <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>
                <div class="swiper-wrapper align-items-center">

                  <div class="swiper-slide">
                    <img src="{% static 'home/assets/img/products/ultrasonic_digital_STIRRET/UDS1.png'%}" alt=""
                      class="d-block  img-fluid">
                  </div>

                  <div class="swiper-slide">
                    <img src="{% static 'home/assets/img/products/ultrasonic_digital_STIRRET/UDS2.png'%}" alt=""
                      class="d-block  img-fluid">
                  </div>

                  <div class="swiper-slide">
                    <img src="{% static 'home/assets/img/products/ultrasonic_digital_STIRRET/UDS3.png'%}" alt=""
                      class="d-block  img-fluid">
                  </div>


                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>

            <div class="col-lg-8">
              <div class="portfolio-description mb-4" data-aos="fade-up" data-aos-delay="300">
                <div class=" px-4 ">
                  <div class="row gx-5">
                    <div class="col">
                      <h2>Ultrasonic Digital Stirrer
                      </h2>
                    </div>
                    <div class="col">
                      <a href="{%static 'home/images/products/ultrasonic_digital_STIRRET/STIRRER Leaflet.pdf'%}"
                        class="btn custom-btn float-end" download>Download Pdf</a><br>
                    </div>
                  </div>
                  <p>
                    Introducing our Ultrasonic Digital Stirrer: A compact, high-speed solution with stainless steel
                    components and automatic start/stop functionality, meeting NDDB norms.


                  </p>
                </div>

              </div>
              <div class="portfolio-info mb-4" data-aos="fade-up" data-aos-delay="200">
                <h3>PRODUCT SPECIFICATIONS</h3>
                <ul>
                  <li>
                    <strong> High speed microcontroller based digital design.</strong>
                  </li>
                  <li>
                    <strong> Easy to use table top light weighted modal.</strong>
                  </li>
                  <li>
                    <strong> S.S 304 and MS powder coated cabinet.</strong>
                  </li>
                  <li>
                    <strong> S.S 304 vibrating tool for rust free long life operation.</strong>
                  </li>
                  <li>
                    <strong> S.S handle for easy trasportation(optional).</strong>
                  </li>
                  <li>
                    <strong> Qualified for over heat burning.</strong>
                  </li>
                  <li>
                    <strong> Fully designed as per the NDDB norms.</strong>
                  </li>
                  <li>
                    <strong> IR SENCER BASED FOR AUTOMATIC START AND STOP Function (operation).</strong>
                  </li>

                </ul>

              </div>

            </div>
            <!-- <div class="row md:flex-2 px-4 border-top mt-2 mb-2 portfolio-info" data-aos="fade-up"
              data-aos-duration="2000">
              <div class="col">
                <div class="mb-4 mb-lg-0 mt-2">
                  <span
                    class="custom-block-span mb-2 leading-tight tracking-tight font-bold text-gray-800  md:text-1xl">TECHNICAL
                    SPECIFICATION</span>
                  <div class="d-flex flex-wrap  mb-1">
                    <p class="mb-0">
                    <ul class="list-group mx-4 ">
                      <li>
                        <strong>Display:</strong> 20x4 Jumbo LCD (Blue-White) with Back light
                      </li>
                      <li>
                        <strong>Keypad:</strong> 5x4 Matrix keypad for user's friendly operation
                      </li>
                      <li>
                        <strong> Printer:</strong> Thermal Printer - 2.0" Panel Mounted
                      </li>
                      <li>
                        <strong> RS-232 Input ports:</strong>
                      <li class="mx-4">1. Milk analyzer </li>
                      <li class="mx-4">2. External Weighing scale</li>
                      </li>
                      <li>
                        <strong> RS-232 Output ports: </strong>
                      <li class="mx-4">1. Remote customer display </li>
                      <li class="mx-4">2. 2G/3G/4G Modem</li>
                      </li>
                      <li>
                        <strong> USB Ports: </strong>
                      <li class="mx-4">1. USB Keyboard interface </li>
                      <li class="mx-4">2. USB Keyboard interface</li>
                      </li>

                    </ul>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="mb-4 mb-lg-0 mt-2">
                  <span
                    class="custom-block-span mb-2 leading-tight tracking-tight font-bold text-gray-800  md:text-1xl">Functional
                    Specification</span>
                  <div class="d-flex flex-wrap  mb-1">
                    <p class="mb-0">
                    <ul class="list-group mx-4 ">
                      <li>
                        <strong>Data Storage:</strong> 1000 Customers per shift
                      </li>
                      <li>
                        <strong>Weighing Scale:</strong> Auto Tare, Ltr. conversion and Adjustable Decimal Point Auto
                        configurable Baud Rate
                      </li>
                      <li>
                        <strong> Milk Collection Type:</strong> Code base OR Fat limit base
                      </li>
                      <li>
                        <strong> Cumulative Total:</strong>
                        Cumulative Total in slip , 10 Days / 15 Days / Monthly
                      </li>
                      <li>
                        <strong> Protection: </strong>
                        Password Protection at various stages
                      </li>
                      <li>
                        <strong> Data & Reports: </strong>
                        CSV format Export to Pen drive
                      </li>

                    </ul>
                    </p>
                  </div>
                </div>
              </div>
            </div> -->

          </div>

        </div>

      </section><!-- /Portfolio Details Section -->

  </main>


  <footer id="footer" class="footer">
    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-8 footer-about">
          <a href="{%url 'home'%}" class="d-flex align-items-center">
            <img src="{% static 'home/assets/img/logo1.png'%}" class="w-50" alt="RaptureTech Pvt. Ltd.">
          </a>
          <div class="footer-contact pt-3">
            <p>Keshavbaug Colony, </p>
            <p>Sabarmati, Ahmedabad</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+91 9374672571</span></p>
            <p><strong>Email:</strong> <span>paras@rapturetech.co.in</span></p>
          </div>
        </div>

        <div class="col-lg-3 col-md-2 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="{%url 'home'%}">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="{%url 'home'%}">About us</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="{%url 'home'%}">Products</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="{%url 'home'%}">Terms of service</a></li>
          </ul>
        </div>


        <div class="col-lg-4 col-md-12 mx-2">
          <h4>Follow Us</h4>
          <p>Follow Us on our Social media links</p>
          <div class="social-links d-flex">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span>
        <script>document.write(new Date().getFullYear())</script>
        <strong class="px-1 sitename">RaptureTech Pvt. Ltd.</strong> <span>All Rights Reserved</span>
      </p>
      <div class="credits">
        <p class="copyright-text">Developed By: <a rel="nofollow" href="" target="_blank">CloudStack
            Dynamics</a></p>

      </div>
    </div>

  </footer>
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'home/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'home/assets/vendor/php-email-form/validate.js'%}"></script>
  <script src="{% static 'home/assets/vendor/aos/aos.js'%}"></script>
  <script src="{% static 'home/assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'home/assets/vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{% static 'home/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js'%}"></script>
  <script src="{% static 'home/assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'home/assets/vendor/swiper/swiper-bundle.min.js'%}"></script>

  <!-- Main JS File -->
  <script src="{% static 'home/assets/js/main.js'%}"></script>

</body>

</html>