{% extends 'common/user/user_base.html' %}
{% load static %}
{% block content %}
<!-- Add these CDN links to your base HTML file -->
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.3/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.3/dist/extensions/auto-refresh/bootstrap-table-auto-refresh.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.3/dist/bootstrap-table.min.js"></script>
</head>

<div class="container-fluid py-4">
    <div class="col-sm-12">
        <div class="home-tab">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                                Live Data
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                                Records
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
                                Charts
                            </a>
                        </li>
                    </ul>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row"> 
                        <div class="col-xl-3 col-sm-3 col-md-3 mb-xl-0 mb-4">
                            <div class="card">
                                <div class="card-body p-3">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="numbers">
                                                <p class="text-sm mb-0 text-uppercase font-weight-bold fw-bold">Avg Fat</p>
                
                                                <p class="mb-0">
                                                    <span class="text-success text-lg font-weight-bolder fw-bold">
                                                        {{ avg_fat }}</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-4 text-end">
                
                                            <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                                                <i class="fa fa-tint text-lg opacity-10" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-3 col-md-3 mb-xl-0 mb-4">
                            <div class="card">
                                <div class="card-body p-3">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="numbers">
                                                <p class="text-sm mb-0 text-uppercase font-weight-bold fw-bold">Avg. SNF</p>
                
                                                <p class="mb-0">
                                                    <span class="text-success text-lg font-weight-bolder fw-bold">{{ avg_snf }}</span>
                
                                                </p>
                
                                            </div>
                                        </div>
                                        <div class="col-4 text-end">
                                            <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                                                <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-3 col-md-3 mb-xl-0 mb-4">
                            <div class="card">
                                <div class="card-body p-3">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="numbers">
                                                <p class="text-sm mb-0 text-uppercase font-weight-bold fw-bold">Avg. CLR</p>
                
                                                <p class="mb-0">
                                                    <span class="text-success text-lg font-weight-bolder fw-bold">{{ avg_clr }}</span>
                
                                                </p>
                
                                            </div>
                                        </div>
                                        <div class="col-4 text-end">
                                            <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                                                <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-3 col-md-3 mb-xl-0 mb-4">
                            <div class="card">
                                <div class="card-body p-3">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="numbers">
                                                <p class="text-sm mb-0 text-uppercase font-weight-bold fw-bold">Total Cust</p>
                
                                                <p class="mb-0">
                
                                                    <span class="text-success text-lg font-weight-bolder fw-bold">   {{total_customer_count}}                                    </span>
                                                </p>
                
                                            </div>
                                        </div>
                                        <div class="col-4 text-end">
                                            <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                                                <i class="fa fa-users text-lg opacity-10" aria-hidden="true"></i>
                
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        
                        </div>
                    </div>
                  <!-- Total Summary Record -->
                    <div class="row mt-4" id="divID">
                        <div class="col-lg-12 mb-lg-0 mb-5"  id="summaryTableContent">
                            <div class="card shadow rounded">
                                <div class="card-header text-align-center text-center pb-0 p-3">
                                    <div class="d-flex justify-content-between align-items-center text-center text-align-center">
                                        <h6 class="mb-2 text-center align-items-center text-align-center fw-bold">Total Summary Record</h6>
                                    </div>
                                </div>
                                <div class="table-responsive card-body rounded">
                                    <table id="summary_table" class="table align-items-center  table-rwd text-center table table-striped table-hover rounded table-responsive w-100"    
                                    data-toggle="table"
                                    data-pagination="false"
                                    data-auto-refresh="true"
                                    data-auto-refresh-interval="5000">
                                        <thead class="text-white text-center rounded table-title">
                                            <tr>
                                                <th>Station ID</th>
                                                <th>Root</th>
                                                <th>Society</th>
                                                <th>Date</th>
                                                <th>Shift</th>
                                                <th>Avg. Fat</th>
                                                <th>Avg. Snf</th>
                                                <th>Avg. Clr</th>
                                                <th>Avg. Water</th>
                                                <th>Total Ltr.</th>
                                                <th>Total Amt.</th>
                                                <th>Total Cust.</th>
                                            </tr>
                                        </thead>
                                        <tbody class="align-items-center text-center fw-bold" >
                                            {% for record in summary_data %}
                                            <tr class="align-items-center text-align-center">
                                                <td><a href="{% url 'user_dpudetails' st_id=record.ST_ID__st_id  %}" class="text-dark">{{ record.ST_ID__st_id  }}</a></td>
                                                <td>{{ record.ST_ID__location }}</td>
                                                <td>{{ record.ST_ID__society }}</td>
                                                <td>{{ record.RecordingDate|date:"d-m-Y" }}</td>
                                                <td>{{ record.SHIFT }}</td>
                                                <td>{{ record.avg_fat }}</td>
                                                <td>{{ record.avg_snf }}</td>
                                                <td>{{ record.avg_clr }}</td>
                                                <td>{{ record.avg_water }}</td>
                                                <td>{{ record.total_ltr }}</td>
                                                <td>{{ record.total_amt }}</td>
                                                <td>{{ record.total_cust }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>         
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Live Records -->
                    <div class="row mt-4">
                        <div class="col-lg-12 mb-lg-0 mb-5" id="myRefreshDiv">
                            <div class="card shadow rounded" id="liveTableContent">
                                <div class="card-header pb-0 p-3">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="mb-2 fw-bold">Live Records</h6>
                                    </div>
                                </div>
                                <div class=" card-body " >
                                    <table id="live_table" class="table align-items-center text-center table table-striped table-hover rounded table-responsive w-100"  
                                    data-toggle="table"
                                            data-pagination="true"
                                            data-auto-refresh="true">

                                        <thead class="table-title text-white text-center rounded">
                                            <tr>
                                                <th>St ID</th>
                                                <th>Root</th>
                                                <th>Society</th>
                                                <th>Date</th>
                                                <th>Time</th>
                                                <th>Shift</th>
                                                <th>Cust. ID</th>
                                                <th>Cust. Name</th>
                                                <th>FAT</th>
                                                <th>SNF</th>
                                                <th>CLR</th>
                                                <th>Water</th>
                                                <th>Ltr. Qty </th>
                                                <th>Amt</th>
                                                <th>Cum. Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center fw-bold" id="tableBody">
                                            {% for drec in drec_data %}
                                            <tr>
                                                <td>{{ drec.ST_ID.st_id }}</td>
                                                <td>{{ drec.ST_ID.location }}</td>
                                                <td>{{ drec.ST_ID.society }}</td>
                                                <td>{{ drec.RecordingDate|date:"d-m-Y" }}</td>
                                                <td>{{ drec.RecordingTime }}</td>

                                                <td>{{ drec.SHIFT }}</td>
                                                <td>{{ drec.CUST_ID }}</td>
                                                <td>
                                                    {% for customer in customer_list %}
                                                        {% if customer.cust_id == drec.CUST_ID and customer.st_id == drec.ST_ID.st_id %}
                                                            {{ customer.name }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td>{{ drec.FAT }}</td>
                                                <td>{{ drec.SNF }}</td>
                                                <td>{{ drec.CLR }}</td>
                                                <td>{{ drec.WATER }}</td>
                                                <td>{{ drec.QT }}</td>
                                                <td>{{ drec.Amount }}</td>
                                                <td>{{ drec.CAmount }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <!-- Add this section to display the top 10 DREC records in a table format -->
                <div class="container-fluid col-lg-12 mb-lg-0 mb-5">
                    <div class="card shadow rounded" >
                        <div class="card-header pb-0 p-3">
                            <div class=" justify-content-between">
                                <h6 class="mb-2 fw-bold">Top 10 Records</h6>
                            </div>
                        </div>
                        <div class="table-responsive card-body rounded" >
                            <table class="table align-items-center text-center table table-striped table-hover rounded table-responsive table-responsive-stack"  
                            data-toggle="table"
                            data-pagination="false"
                            data-auto-refresh="true"                            >
                                <thead class="table-title text-white text-center rounded">
                                    <tr>
                                        <th>St ID</th>
                                        <th>Root</th>
                                        <th>Society</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Shift</th>
                                        <th>Cust. ID</th>
                                        <th>Name</th>
                                        <th>FAT</th>
                                        <th>SNF</th>
                                        <th>CLR</th>
                                        <th>Water</th>
                                        <th>Ltr. Qty </th>
                                        <th>Amt</th>
                                        <th>Cum. Amount</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center" id="tableBody">
                                    {% for drec in drec_data|slice:":10" %}
                                    <tr>
                                        <td>{{ drec.ST_ID.st_id }}</td>
                                        <td>{{ drec.ST_ID.location }}</td>
                                        <td>{{ drec.ST_ID.society }}</td>
                                        <td>{{ drec.RecordingDate|date:"d-m-Y" }}</td>
                                        <td>{{ drec.RecordingTime }}</td>
    
                                        <td>{{ drec.SHIFT }}</td>
                                        <td>{{ drec.CUST_ID }}</td>
                                        <td>
                                            {% for customer in customer_list %}
                                                {% if customer.cust_id == drec.CUST_ID and customer.st_id == drec.ST_ID.st_id %}
                                                    {{ customer.name }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>{{ drec.FAT }}</td>
                                        <td>{{ drec.SNF }}</td>
                                        <td>{{ drec.CLR }}</td>
                                        <td>{{ drec.WATER }}</td>
                                        <td>{{ drec.QT }}</td>
                                        <td>{{ drec.Amount }}</td>
                                        <td>{{ drec.CAmount }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
              
                </div>
                <div class="tab-pane fade text-center" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <p>
                        <h3 class="text-danger fw-bold text-center">Under Construction </h3>
                    </p>
                </div>
              </div>
    
     
        </div>
      </div>

   



        <script>
        function refreshTable() {
            $.ajax({
                url: '{% url "user_dashboard" %}',
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    // Update the content of summary_table's tbody
                    $('#summary_table tbody').html($(data).find('#summary_table tbody').html());

                    // Update the content of live_table's tbody
                    $('#live_table tbody').html($(data).find('#live_table tbody tr:lt(10)').clone());
                }
            });
        }

        // Refresh the content every 5 seconds
        setInterval(refreshTable, 5000);

        </script>


</div>

{% endblock content %}