{% extends 'base2.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<style>
 .table-wrapper {
        background: #fff;
        padding: 20px 25px;
        margin: 30px 0;
		border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
	.table-title {        
		padding-bottom: 1px;
		background: #002d86;
		color: #fff!important;
		padding: 16px 30px;
		margin: -20px -25px 10px;
		border-radius: 3px 3px 0 0;
    }
    .table-title h2 {
		margin: 5px 0 0;
		font-size: 24px;
	}
	.table-title .btn-group {
		float: right;
	}
	.table-title .btn {
		color: #fff;
		float: right;
		font-size: 13px;
		border: none;
		min-width: 50px;
		border-radius: 2px;
		border: none;
		outline: none !important;
		margin-left: 10px;
	}
	.table-title .btn i {
		float: left;
		font-size: 21px;
		margin-right: 5px;
	}
	.table-title .btn span {
		float: left;
		margin-top: 2px;
	}
    tr{
        text-align: center;

    }
    td {
            padding: 1px;
            text-align: center;
        }
</style>
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur"
    data-scroll="false">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="">Home</a>
                </li>
                <li class="breadcrumb-item text-sm text-white active" aria-current="page">DPU</li>
            </ol>

        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                <div class="input-group">
                    <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="Type here...">
                </div>
            </div>
            <ul class="navbar-nav  justify-content-end">
                <li class="nav-item d-flex align-items-center">
                    <a href="{% url 'logout' %}" class="nav-link text-white font-weight-bold px-0">
                        <i class="fa fa-sign-out me-sm-1"></i>
                        <span class="d-sm-inline d-none">Logout</span>
                    </a>
                </li>
                <li class="nav-item d-xl-none ps-3 d-flex align-items-center ">
                    <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                        </div>
                    </a>
                </li>

                <li class="nav-item dropdown pe-2 px-3 d-flex align-items-center">
                    <a href="javascript:;" class="nav-link text-white p-0" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user cursor-pointer"></i>
                    </a>
                    <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4"
                        aria-labelledby="dropdownMenuButton">
                        <li class="mb-2">
                            <a class="dropdown-item border-radius-md" href="javascript:;">
                                <div class="d-flex py-1">
                                    <div class="my-auto">
                                        <img src="{{user.profile.profile_image.url}}"
                                            class="avatar avatar-sm bg-gradient-light me-3 ">
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="text-sm font-weight-normal mb-1">
                                            <span class="font-weight-bold">Username:- </span> {{user}}
                                        </h6>

                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a class="dropdown-item border-radius-md" href="{% url 'change-password'%}">
                                <div class="d-flex py-1">
                                    <div class="my-auto">
                                        <i class="fa fa-key cursor-pointer pe-3" class="avatar avatar-sm  me-3 "></i>
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="text-sm font-weight-normal mb-1">
                                            <span class="font-weight-bold">Change Password</span>
                                        </h6>
                                        <p class="text-xs text-secondary mb-0">
                                            <i class="fa fa-user me-1"></i>
                                            {{user}}
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>


                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Begin Page Content -->
<div class="container-fluid mt-5">

  

    <!-- Main Content Here -->
    
    <div class="card o-hidden border-0 shadow-lg mt-5">
        
        <div class="container">
            <div class="table-wrapper table-responsive">
              <div class="table-title border rounded">
                <div class="row">
                  <div class="col-sm-6">
                    <h5 class="text-white mt-2">Active DPU's</h5>
                  </div>
                  <div class="col-md-6">
                    <a href="{% url 'add_dpu' %}" class="btn btn-success" > <span>Add New DPU</span></a>
                    <a href="{% url 'custupload' %}" class="btn btn-success" > <span>custupload</span></a>

                  </div>
                </div>
              </div>

              <table class="table table-striped table-hover rounded table-responsive">
                <thead>
                  <tr>
                  
                        <th>Location</th>
                        <th>DPU ID</th>
                        <th>Society</th>
                        <th>Mobile number</th>
                        <th>Owner</th>
                        <th>Status</th>
                  </tr>
                </thead>
                {% for dpu in active_dpu_list %}

                <tbody>
                  <tr class="align-items-center text-align-center rounded">
                        <td>{{ dpu.location }}</td>
                        <td>{{ dpu.dpu_id }}</td>
                        <td>{{ dpu.society }}</td>
                        <td>{{ dpu.mobile_number }}</td>
                        <td>{{ dpu.owner }}</td>
                        <td class="{% if dpu.status == 'active' %}text-success{% else %}text-danger{% endif %}">
                            {{ dpu.status }}
                        </td>                    </tr>
           
                </tbody>
                {% endfor %}       

              </table>

            </div>
          </div>
     

    


    </div>

    <!-- /.container-fluid -->
    </div>
    
    {% endblock content %}