<!-- your_template.html -->

{% extends 'base2.html' %}  <!-- Extend your base template if you have one -->

{% block content %}
<!-- apps/common/templates/common/customer_data.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Data</title>
</head>

<body>
    <h2>Customer Data</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Cust ID</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Adhaar</th>
                <th>Bank Account</th>
                <th>IFSC</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.cust_id }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.mobile }}</td>
                <td>{{ customer.adhaar }}</td>
                <td>{{ customer.bank_account }}</td>
                <td>{{ customer.ifsc }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>

{% endblock %}
