<!-- custupload.html -->
{% extends 'base2.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<style>


    h2 {
        text-align: center;
        color: #333;
    }

    .dpu-form {
        padding: 0px 150px 0px 150px;
    }

    label {
        display: block;
        margin-bottom: 8px;
        color: #555;
    }

    input[type="text"],
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #45a049;
    }
</style>
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur"
    data-scroll="false">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="">Home</a>
                </li>
                <li class="breadcrumb-item text-sm text-white active" aria-current="page">Add DPU</li>
            </ol>

        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                <div class="input-group">
                    <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="Type here...">
                </div>
            </div>
            <ul class="navbar-nav  justify-content-end">
                <li class="nav-item d-flex align-items-center">
                    <a href="{% url 'logout' %}" class="nav-link text-white font-weight-bold px-0">
                        <i class="fa fa-sign-out me-sm-1"></i>
                        <span class="d-sm-inline d-none">Logout</span>
                    </a>
                </li>
                <li class="nav-item d-xl-none ps-3 d-flex align-items-center ">
                    <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                        </div>
                    </a>
                </li>

                <li class="nav-item dropdown pe-2 px-3 d-flex align-items-center">
                    <a href="javascript:;" class="nav-link text-white p-0" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user cursor-pointer"></i>
                    </a>
                    <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4"
                        aria-labelledby="dropdownMenuButton">
                        <li class="mb-2">
                            <a class="dropdown-item border-radius-md" href="javascript:;">
                                <div class="d-flex py-1">
                                    <div class="my-auto">
                                        <img src="{{user.profile.profile_image.url}}"
                                            class="avatar avatar-sm bg-gradient-light me-3 ">
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="text-sm font-weight-normal mb-1">
                                            <span class="font-weight-bold">Username:- </span> {{user}}
                                        </h6>

                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a class="dropdown-item border-radius-md" href="{% url 'change-password'%}">
                                <div class="d-flex py-1">
                                    <div class="my-auto">
                                        <i class="fa fa-key cursor-pointer pe-3" class="avatar avatar-sm  me-3 "></i>
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="text-sm font-weight-normal mb-1">
                                            <span class="font-weight-bold">Change Password</span>
                                        </h6>
                                        <p class="text-xs text-secondary mb-0">
                                            <i class="fa fa-user me-1"></i>
                                            {{user}}
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>


                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Begin Page Content -->
<div class="container-fluid mt-5">

  

    <!-- Main Content Here -->
    
    <div class="card o-hidden border-0 shadow-lg mt-5">
        
        <div class="row ">
            <div class="col-lg-12 my-5">
                <h2>Upload Customer CSV File</h2>
  <form method="post" enctype="multipart/form-data" action="{% url 'custupload' %}">
    {% csrf_token %}
    <label for="csv_file">Choose CSV file:</label>
    <input type="file" name="csv_file" accept=".csv" required>
    <button type="submit">Upload</button>
  </form>
             

            </div>
            
        </div>



    </div>
    
    <!-- /.container-fluid -->
    </div>
    {% endblock content %}
