{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="RaptureTech Private Limited - ">
  <meta name="keywords" content="RaptureTech, Private Limited, Keywords here">
  <meta name="author" content="RaptureTech">

  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'home/assets/img/rapturetech_logo.jpeg'%}">
  <link rel="icon" type="image/png" href="{% static 'home/assets/img/rapturetech_logo.jpeg'%}">
  <title>{% block title %}RaptureTech Private Limited{% endblock %}</title>

  <!-- Preload critical CSS files -->
  <link rel="stylesheet" href="{% static 'assets/new/vendors/feather/feather.css'%}" as="style">
  <link rel="stylesheet" href="{% static 'assets/new/vendors/mdi/css/materialdesignicons.min.css'%}" as="style">
  <link rel="stylesheet" href="{% static 'assets/new/vendors/ti-icons/css/themify-icons.css'%}" as="style">
  <link rel="stylesheet" href="{% static 'assets/new/vendors/typicons/typicons.css'%}" as="style">
  <link rel="stylesheet" href="{% static 'assets/new/vendors/simple-line-icons/css/simple-line-icons.css'%}" as="style">
  <link rel="stylesheet" href="{% static 'assets/new/vendors/css/vendor.bundle.base.css'%}" as="style">
  <!-- End preload -->
<!-- Bootstrap CSS -->
<!-- Bootstrap CSS -->


  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'assets/new/js/select.dataTables.min.css'%}">
  <link rel="stylesheet" href="{%static 'assets/new/css/maps/vertical-layout-light/style.css.map'%}">
  <!-- End plugin css for this page -->

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'assets/new/css/vertical-layout-light/style.css'%}">
  <link rel="stylesheet" href="{% static 'assets/new/vendors/select2/select2.min.css'%}">
  <link rel="stylesheet" href="{% static 'assets/new/vendors/select2-bootstrap-theme/select2-bootstrap.min.css'%}">


  <!-- End custom CSS -->

  <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.1/css/dataTables.bootstrap5.css">
  
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <!-- DataTables JS -->
  <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
  <script src="https://cdn.datatables.net/2.0.1/js/dataTables.bootstrap4.js"></script>

  <!-- TableExport library -->
  <script src="https://unpkg.com/tableexport@5.2.3/dist/js/tableexport.min.js"></script>

  <!-- jsPDF library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>

  <!-- Bootstrap Table -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.3/dist/bootstrap-table.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.3/dist/bootstrap-table.min.js"></script>
</head>
<style>
  /* Original styles */

.table-title {
  padding-bottom: 1px;
  background: #002d86;
  color: #fff !important;
  padding: 16px 30px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}

.bootstrap-table .fixed-table-container .table thead th .th-inner {
  padding: 20px;
}

.tooltip-container {
  z-index: 1051;
}

.tooltip .tooltip-inner {
  position: absolute;
  margin-top: 30%;
}

.tooltip.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.tooltip.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #343a40;
}

.tooltip-inner {
  background-color: #343a40;
  color: #ffffff;
}

.tooltip.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.tooltip.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #343a40;
}

body {
  background-color: #f3f5f7;
  margin: 0;
  overflow: hidden;
}

.container-scroller {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.page-body-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  flex: 0 0 250px;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  z-index: 1000;
  background-color: #f8f9fa;
  transition: width 0.3s ease;
}

.main-panel {
  flex: 1;
  /* margin-left: 250px; */
  overflow-y: auto;
  /* padding: 20px; */
  transition: margin-left 0.3s ease;
}

/* .main-panel.collapsed {
  margin-left: 80px;
} */

.sidebar .nav-link.active {
  background-color: #002d86;
  color: white!important;
}

.sidebar .nav-link.active .menu-icon {
  color: white!important; /* Change to the desired color */
}

.sidebar .nav-link.active:hover {
  background-color: #002d86;
}

.sidebar .nav-link.active:hover .menu-icon {
  color: #002d86!important; /* Change to the desired color */
}

/* Responsive styles */
@media (max-width: 1200px) {

  .sidebar {
    flex: 0 0 200px;
  }

 
}

@media (max-width: 992px) {

  .sidebar {
    flex: 0 0 180px;
  }

}

@media (max-width: 768px) {
  /* .navbar .navbar-brand-wrapper .navbar-brand img {
    height: 3em;
    width: 14rem;
    margin-left: -5px;
  }
 */
  .sidebar {
    flex: 0 0 150px;
  }

}

@media (max-width: 576px) {

  .table-title {
    padding: 12px 20px;
    margin: -15px -20px 5px;
  }

  .bootstrap-table .fixed-table-container .table thead th .th-inner {
    padding: 15px;
  }

  .tooltip .tooltip-inner {
    margin-top: 20%;
  }

  .sidebar {
    flex: 0 0 120px;
  }

}

@media (max-width: 400px) {
  .sidebar {
    flex: 0 0 100px;
  }


}

</style>
<body>
  <div class="container-scroller">
    <!-- Include the navbar -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row rounded">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div class="me-3">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div>
          <a class="navbar-brand brand-logo" href="{% url 'dashboard' %}">
            <img src="{% static 'home/assets/img/logo1.png'%}" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="{% url 'dashboard' %}">
            <img src="{% static 'home/assets/img/logo1.png'%}" alt="logo" />
          </a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top">
        <ul class="navbar-nav">
          <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
            <h3 class="welcome">Hello, {{ user.username }} </h3>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown d-none d-lg-block">
            Time:- <span id="clock" class="fw-bold text-danger"></span>
          </li>
          <li class="nav-item d-none d-lg-block">
            <div class="input-group date datepicker navbar-date-picker">
              <span class="input-group-addon input-group-prepend border-right">
                <span class="icon-calendar input-group-text calendar-icon"></span>
              </span>
              <input type="text" id="dateInput" class="form-control fw-bold text-danger" readonly>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link text-dark" id="google_translate_element">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 mb-3 d-flex align-items-center justify-content-center"></div>
            </div>
          </li>
          <li class="nav-item dropdown user-dropdown">
            <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="mdi mdi-account cursor-pointer"></i><i class="mdi mdi-chevron-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <div class="dropdown-header text-">
                <p class="mb-1 font-weight-semibold">Username: {{ user.username }}</p>
              </div>
              <a class="dropdown-item fw-6" href="{% url 'profile' %}">
                <i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2 "></i> My Profile
              </a>
              {% if request.user.is_staff or request.user.is_superuser %}
              <a class="dropdown-item fw-6" href="{% url 'change-password' %}">
                <i class="dropdown-item-icon mdi mdi-lock-open text-primary me-2"></i> Change Password
              </a>
              {% endif %}
              <a class="dropdown-item fw-6" href="{% url 'logout' %}">
                <i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i> Sign Out
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
        <div class="container-fluid page-body-wrapper rounded">
      <!-- Include the sidebar -->
<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas rounded" id="sidebar">
  <ul class="nav">
      <li class="nav-item">
          <a class="nav-link {% if request.path == '/dashboard/' %}active{% endif %}" href="{% url 'dashboard' %}">
              <i class="mdi mdi-view-dashboard mdi-grid-large menu-icon"></i>
              <span class="menu-title fw-bold">Dashboard</span>
          </a>
      </li>
      <li class="nav-item nav-category">Reports</li>
      <li class="nav-item">
          <a class="nav-link {% if request.path == '/shift_report/' or request.path == '/ledger/' %}active{% endif %}" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false">
              <i class="menu-icon mdi mdi-file-check"></i>
              <span class="menu-title fw-bold">Reports</span>
              <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                      <a class="nav-link fw-bold" href="{% url 'shift_report' %}">Shift Report</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link fw-bold" href="{% url 'ledger_report' %}">Ledger</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link fw-bold text-success" href="{% url 'old_drec_data_edited_list' %}">Edited Record</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link fw-bold text-danger" href="{% url 'old_drec_data_deleted_list' %}">Deleted Record</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link fw-bold text-primary" href="{% url 'localsells' %}">Local Sell</a>
                  </li>

              </ul>
          </div>
      </li>
      <li class="nav-item nav-category">Service</li>
      <li class="nav-item">
          <a class="nav-link {% if request.path == '/add_dpu/' or request.path == '/active_dpu/' %}active{% endif %}" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class="menu-icon mdi mdi-memory"></i>
              <span class="menu-title fw-bold">DPU</span>
              <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                  {% if request.user.is_staff or request.user.is_superuser %}
                  <li class="nav-item">
                      <a class="nav-link fw-bold" href="{% url 'add_dpu' %}">Add DPU</a>
                  </li>
                  {% endif %}
                  <li class="nav-item">
                      <a class="nav-link fw-bold" href="{% url 'active_dpu' %}">DPU List</a>
                  </li>
              </ul>
          </div>
      </li>
      <li class="nav-item">
          <a class="nav-link {% if request.path == '/upload_rate_table/' or request.path == '/rate_table_list/' %}active{% endif %}" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
              <i class="menu-icon mdi mdi-currency-inr"></i>
              <span class="menu-title fw-bold">Rate Table</span>
              <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu">
                  {% if request.user.is_staff or request.user.is_superuser %}
                  <li class="nav-item">
                      <a class="nav-link fw-bold" href="{% url 'upload_rate_table' %}">Rate Table Upload</a>
                  </li>
                  {% endif %}
                  <li class="nav-item">
                      <a class="nav-link fw-bold" href="{% url 'rate_table_list' %}">Rate Table List</a>
                  </li>
              </ul>
          </div>
      </li>
      <li class="nav-item">
          <a class="nav-link {% if request.path == '/upload_customer_csv/' %}active{% endif %}" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
              <i class="menu-icon mdi mdi-account-multiple"></i>
              <span class="menu-title fw-bold">Customer</span>
              <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="tables">
              <ul class="nav flex-column sub-menu">
                  {% if request.user.is_staff or request.user.is_superuser %}
                  <li class="nav-item">
                      <a class="nav-link fw-bold" href="{% url 'upload_customer_csv' %}">Add Customer</a>
                  </li>
                  {% endif %}
                  <li class="nav-item">
                      <a class="nav-link fw-bold" href="{% url 'customer_list_all' %}">Customer List</a>
                  </li>
              </ul>
          </div>
      </li>
      <li class="nav-item nav-category ">Help</li>
      {% if request.user.is_staff or request.user.is_superuser %}
      <li class="nav-item">
          <a class="nav-link {% if request.path == '/admin-question/' %}active{% endif %}" href="{% url 'admin-question' %}">
              <i class="menu-icon mdi mdi-message-text"></i>
              <span class="menu-title fw-bold">Chat</span>
          </a>
      </li>
      {% endif %}
      {% if not request.user.is_staff and not request.user.is_superuser %}
      <li class="nav-item">
          <a class="nav-link {% if request.path == '/ask-question/' %}active{% endif %}" href="{% url 'ask-question' %}">
              <i class="menu-icon mdi mdi-message-text"></i>
              <span class="menu-title fw-bold">Support</span>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link {% if request.path == '/question-history/' %}active{% endif %}" href="{% url 'question-history' %}">
              <i class="menu-icon mdi mdi-message-text"></i>
              <span class="menu-title">Chat History</span>
              {% if has_unread_messages %}
              <span class="badge badge-danger">New</span>
              {% endif %}
          </a>
      </li>
      {% endif %}
  </ul>
</nav>
<!-- partial -->
    <div class="container-fluid main-panel rounded">
        <main class="main-content position-relative border-radius-lg rounded">
          {% block content %} {% endblock content %}
        </main>
        <!-- Footer content here -->
      </div>
    </div>
  </div>
  <!-- JS Scripts here -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
      var sidebar = document.getElementById('sidebar');
      var mainPanel = document.querySelector('.main-panel');
      var toggleButton = document.querySelector('.navbar-toggler');

      toggleButton.addEventListener('click', function () {
        sidebar.classList.toggle('collapsed');
        mainPanel.classList.toggle('collapsed');
      });
    });

    var span = document.getElementById('clock');

    function time() {
      var d = new Date();
      var s = d.getSeconds();
      var m = d.getMinutes();
      var h = d.getHours();
      span.textContent = ("0" + h).substr(-2) + ":" + ("0" + m).substr(-2) + ":" + ("0" + s).substr(-2);
    }

    setInterval(time, 1);

    document.addEventListener('DOMContentLoaded', function () {
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl, { container: 'body' });
      });
    });

    document.addEventListener('DOMContentLoaded', function () {
      var today = new Date();
      var dd = String(today.getDate()).padStart(2, '0');
      var mm = String(today.getMonth() + 1).padStart(2, '0');
      var yyyy = today.getFullYear();

      today = dd + '/' + mm + '/' + yyyy;
      document.getElementById('dateInput').value = today;
    });
  </script>
  
<!-- plugins:js -->
<script src="{% static 'assets/new/vendors/js/vendor.bundle.base.js'%}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'assets/new/vendors/chart.js/Chart.min.js'%}"></script>
<script src="{% static 'assets/new/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js'%}"></script>
<script src="{% static 'assets/new/vendors/progressbar.js/progressbar.min.js'%}"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'assets/new/js/select2.js'%}"></script>
<script src="{% static 'assets/new/vendors/select2/select2.min.js'%}"></script>

<script src="{% static 'assets/new/js/off-canvas.js'%}"></script>
<script src="{% static 'assets/new/js/hoverable-collapse.js'%}"></script>
<script src="{% static 'assets/new/js/template.js'%}"></script>
<script src="{% static 'assets/new/js/settings.js'%}"></script>
<script src="{% static 'assets/new/js/todolist.js'%}"></script>


<!-- Plugin js for this page -->
<script src="{% static 'assets/new/vendors/typeahead.js/typeahead.bundle.min.js'%}"></script>

<!-- Custom js for this page-->
<script src="{% static 'assets/new/js/typeahead.js'%}"></script>

<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'assets/new/js/dashboard.js'%}"></script>
<script src="{% static 'assets/new/js/Chart.roundedBarCharts.js'%}"></script>

<!-- End custom js for this page-->
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
    }
</script>

</body>

</html>
